<h1><%= @shelter.name %></h1>

<section class = "pets">
<h2>Available Pokemon</h2>
  <% @shelter.pets.each do |pet| %>
    <h2><%= pet.name %></h2>
    <p><%= image_tag "pets/#{pet.image}" %></p>
    <p>Age: <%= pet.age %></p>
    <p>Sex: <%= pet.sex %></p>
    <p>Description: <%= pet.description %></p>
    <p>Status: <%= pet.status %></p>
  <% end %>
</section>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>